name: Build and Test

on:
  push:
    branches:
      - main

jobs:
  build_and_test:
    name: Build and Test Docker Image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker Image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: false
          load: true
          tags: dock2date:latest
          cache-from: type=gha,scope=main
          cache-to: type=gha,mode=max,scope=main

      - name: Test Docker Image
        run: |
          docker run --rm dock2date:latest --help
